body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background:#DBDADA;
}

#promocion_destacada {
	position:fixed;
	width:100%;
	min-height:90px;
	top:0;
	left:0;
	background:#EB3239;
	box-shadow:0 0 15px #333;
}

#promociones {
	margin-top:105px;
	overflow:auto;
	height:100%;
}

#promocion_destacada article {
	background:none;
}

article:nth-child(even) { background: #E7E6E6; }
article:nth-child(odd) { background: #DBDADA; }

article {
	min-height:90px;
	
}

#promocion_destacada article a:hover {
	background:#E85F64;
	box-shadow:0 0 15px #333;
}

#promocion_destacada article a {
	color:#FFF;
}

#promocion_destacada article p {
	color:#FFF;
}


article a {
	display:block;
	overflow:hidden;
	color:#58585A;
	text-decoration:none;
	padding:5px 10px;
}

article a:hover {
	background:#EFEFEF;
}

article span.imagen {
	display:block;
	float:left;
	height:80px;
	width:120px;
	vertical-align:middle;
}

article span.imagen img {
	height:100%;
}

article span.detalle {
	overflow:hidden;
	display:block;
}

article a h2 {
	font-size:16px;
	border-bottom:1px solid #D0D0D0;
	margin:0;
	padding:0 0 5px 0;
	display:block;
	margin-bottom:5px;
	margin-top:5px;
	font-weight:normal;
	
}

article a p {
	display:block;
	margin:0;
	padding:0;
	color:#727272;
	font-size:13px;
}

footer {
	background:#000;
	text-align:center;
	vertical-align:middle;
	padding:5px 0 0 0;
}

.share {
	margin:10px;
	overflow:hidden;
	display:none;
}

.share strong {
	font-size:14px;
	display:block;
	margin-bottom:5px;
	float:left;
}

.share a {
	display:block;
	float:right;
	overflow:auto;
	padding:0;
	margin-right:10px;
	margin-bottom:5px;
}

.share a img {
	display:block;
	padding:0;
	margin:0;
	border-radius:5px;
}


.share a:hover {
	opacity:0.8;
}